/*初期設定
---------------------*/
body {
    margin: 0;
    padding: 0;
    font-family: "Yu Gothic Medium",
        "游ゴシック Medium",
        "YuGothic",
        "游ゴシック体",
        "ヒラギノ角ゴ Pro W3",
        "メイリオ",
        sans-serif;
}

/*カレンダー部分
---------------------*/
h1 {
    text-align: center;
}

.calendar {
    margin: auto;
    max-width: 90%;
}